doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    title
    style.
      label {
        width:180px;
        clear:left;
        text-align:right;
        padding-right:10px;
      }

      input, label {
        float:left;
      }
    
    body
        -var index = 0
        for router in routers 
            form.form(action='', method='post')    
                label #{router.name} : #{router.ip}
                br
                each val, key in templateObjs[index]
                    label #{key}
                    input(name='#{key}', value='#{val}')
                    br                    
                -index++
                button.get(ip='#{router.ip}')  Get
                button.submit  Submit


  script(src='https://code.jquery.com/jquery-2.2.3.js', crossorigin='anonymous')
  script(src='js/dns/app.js')
