extends layout
block extraHeader
    link(rel='stylesheet', href='stylesheets/my.css')

block content    
    body
        -var index = 0
        for router in routers 
            form.form(action='', method='post')    
                label #{router.name} : #{router.ip}
                br
                each val, key in templateObjs[index]
                    label #{key}
                    input(name='#{key}', value='#{val}')
                    br                    
                -index++
                button.get(ip='#{router.ip}')  Get
                button.submit  Submit


block scripts
  script(src='js/dns/app.js')
