extends layout

block content
  h1= title
  p Welcome to #{title}
  form(action='', method='post')
   ul  
   for router in routers    
        li.routerItem #{router.name} : #{router.ip}
        br
        input(name='router', type='checkbox', rid='#{router._id}', rname="#{router.name}", ip="#{router.ip}")
        a.edit(href='#{router._id}', rname="#{router.name}", ip="#{router.ip}") Edit
        label &nbsp;
        a.delete(href='#{router._id}') Delete
   p
  button.dns DNS
  label &nbsp;
  button.ip IP

block scripts
  script(src='js/index/app.js')